<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akshat Pratap Singh</title>
    <link rel="stylesheet" href="stylesheet.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <style>
      .confirmation {
        background-color: rgb(246, 249, 246);
        color: rgb(11, 80, 3);
        font-size: 3vh;
        padding: 3px;
        margin: auto;
        width: fit-content;
      }
    </style>
  </head>
  <body>
    <section class="section1">
      <div class="container1">
        <nav>
          <ul class="navigation">
            <li><a href="#aboutsec">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
            <li>
              <span class="links">
                <a href="https://github.com/Akshat264"
                  ><i class="fa-brands fa-github fa-2x"></i
                ></a>
                <a
                  href="https://www.linkedin.com/in/akshat-pratap-singh-7845bb25b/"
                  ><i class="fa-brands fa-linkedin fa-2x"></i
                ></a>
                <a href="https://www.facebook.com/profile.php?id=100057693212935"><i class="fa-brands fa-facebook fa-2x"></i></a>
              </span>
            </li>
          </ul>
        </nav>
        <video autoplay muted loop plays-inline class="back-ground">
          <source src="pexels-pressmaster-3129595-3840x2160-30fps.mp4" />
        </video>
        <p class="name">Akshat Pratap Singh</p>
        <div class="flex">
          <p class="code">
            <span class="tech">Technology</span>
            <span class="best">&nbsp;is best,</span><br /><br /><span
              class="bring"
              >&nbsp;&nbsp;&nbsp;when it brings&nbsp;&nbsp;</span
            ><span class="people">people</span><br /><br /><span
              class="together"
              >&nbsp;&nbsp;&nbsp;together.</span
            >
          </p>
          <img src="akshat.png" alt="img" width="23%" class="mainimage" />
        </div>
        <p class="confirmation">
          <i class="fa-solid fa-circle-xmark" style="color: #780b8e"></i
          >&nbsp;&nbsp;&nbsp;<%=name%>, your details submitted successfully.
        </p>
      </div>
    </section>
    <section class="section2" id="aboutsec">
      <div class="container2"><p class="about">About</p></div>
      <div class="container3">
        <div class="intro">
          <p class="introduction">Introduction:</p>
          <p class="brief">
            Hello, My Name is Akshat Pratap Singh, I am from Hardoi, Uttar
            Pradesh. I have completed my schooling from Maharishi Vidya Mandir
            Senior Secondary School and currently I am pursuing Btech in
            Computer Science and Engineering from a reputed college "AJAY KUMAR
            GARG ENGINEERING COLLEGE, GHAZIABAD". I want to become a full stack
            web developer and I my working on the way to my goal.
          </p>
          <p class="introduction plus">Results so far:</p>
          <img class="marks" src="marks.png" />
        </div>
        <div class="technical">
          <p class="introduction">Technical Skills:</p>
          <div class="icons">
            <div class="images">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/695px-C_Programming_Language.svg.png"
                      width="144vw"
                    />
                  </div>
                  <div class="flip-box-back">
                    <h3>C language</h3>
                    <br />
                    <p>
                      Dynamic Memory Management.<br />Modularity With Structured
                      Language.<br />Mid-Level Programming Language.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png"
                      width="144vw"
                    />
                  </div>
                  <div class="flip-box-back">
                    <h3>C++ language</h3>
                    <br />
                    <p>
                      Influenced Many Other Programming Languages.<br />
                      was Originally Called 'The New C'
                      <br />
                      Introduces Object-Oriented Programming.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-box flip-box-next2">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png"
                      width="144vw"
                    />
                  </div>
                  <div class="flip-box-back flip-box-back-green">
                    <h3>NodeJS</h3>
                    <br />
                    <p>
                      Node. js is a popular programming environment that can be
                      used for building high-scale applications that need to
                      support multiple concurrent requests.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="images">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="html.png" width="164vw" />
                  </div>
                  <div class="flip-box-back flip-box-back-orange">
                    <h3>HTML</h3>
                    <br />
                    <p>
                      HTML is the markup language for encoding Web pages. It was
                      designed by the British scientist Sir Tim Berners-Lee at
                      the CERN nuclear physics laboratory in Switzerland during
                      the 1980s.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="css.png" width="110vw" />
                  </div>
                  <div class="flip-box-back">
                    <h3>CSS</h3>
                    <br />
                    <p>
                      CSS is a design language that makes a website look more
                      appealing than just plain or uninspiring pieces of text.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-box flip-box-next3">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img
                      src="https://static.javatpoint.com/images/javascript/javascript_logo.png"
                      width="163vw"
                    />
                  </div>
                  <div class="flip-box-back flip-box-back-yellow">
                    <h3>JavaScript</h3>
                    <br />
                    <p>
                      JavaScript is a scripting language that's inserted
                      directly in the HTML of a page. It's the only language of
                      this kind that can be understood by web browsers.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="images2">
              <div class="flip-box flip-box-next">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img
                      src="https://www.donskytech.com/wp-content/uploads/2021/07/mongodb-logo-smaller-removebg-preview.png"
                      width="224vw"
                    />
                  </div>
                  <div class="flip-box-back flip-box-back-green">
                    <h3>mongoDB</h3>
                    <br />
                    <p>
                      MongoDB is ideal for cloud computing. Cloud-based storage
                      needs to easily distribute data across multiple servers,
                      which suits MongoDB's nature perfectly.
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="expressjs.png" width="224vw" />
                  </div>
                  <div class="flip-box-back flip-box-back-yellow">
                    <h3>ExpressJS</h3>
                    <br />
                    <p>
                      Express is a node js web application framework that
                      provides broad features for building web and mobile
                      applications.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section3" id="projects">
      <div class="container2"><p class="about">Projects</p></div>
      <div class="project1">
        <p class="hotel">1. Hotel Booking Website (ShelterSpot)</p>
        <p class="detail">
          This is a website where a customer can search different hotels by
          location and get details of hotels like price, rating, highlight
          values, images, room facilities, map view and some information about
          location of the hotel. This is made with HTML, CSS, JavaScript,
          NodeJS, ExpressJS, mongoDB, ejs template.
        </p>
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="Screenshot (99).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (20).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (21).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (22).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (25).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (26).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (27).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (28).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (62).png" width="100%" />
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="project1">
        <p class="hotel">2. Zomato Clone</p>
        <p class="detail">
          This is a clone of Zomato Website. I made this site only for practice.
          This was made using HTML and CSS only.
          <a href="https://akshat264.github.io/Zomato_Clone/" class="link"
            >View Project</a
          >
        </p>
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="Screenshot (100).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (101).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (102).png" width="100%" />
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="project1">
        <p class="hotel">3. Online To-do-list</p>
        <p class="detail">
          This project is based on HTML, CSS and JavaScript. In this you can add
          your daily tasks and also delete them when they are accomplished.
          <a href="https://akshat264.github.io/To-do-list/" class="link"
            >View Project</a
          >
        </p>
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="Screenshot (103).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (104).png" width="100%" />
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="project1">
        <p class="hotel">4. Education Site Responsive Design</p>
        <p class="detail">
          This project was made using HTML, CSS and JavaScript. This is
          basically a design of an eduction site. By making this project I
          learned to build responsive sites.
          <a
            href="https://akshat264.github.io/First_Responsive_website/"
            class="link"
            >View Project</a
          >
        </p>
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src="Screenshot (105).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (106).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (107).png" width="100%" />
            </div>
            <div class="swiper-slide">
              <img src="Screenshot (108).png" width="100%" />
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>
    <section class="section4" id="contact">
      <div class="container4">
        <div class="contact_image">
          <p class="contact">Contact</p>
          <p class="personal">Phone number: 9648911857</p>
          <p class="personal">Email-id: pratapsinghakshat0@gmail.com</p>
          <p class="personal">College-id: akshat2110045@akgec.ac.in</p>
          <p></p>
        </div>
        <div class="contact_form">
          <form
            class="form"
            method="post"
            onsubmit="return validateform()"
            action="/index"
          >
            <div>
              <input
                type="text"
                class="fullname"
                placeholder="Full Name"
                name="name"
              />
              <p class="empty"></p>
            </div>
            <div>
              <input
                type="email"
                class="email"
                placeholder="Email"
                name="email"
              />
              <p class="empty2"></p>
            </div>
            <textarea
              class="message"
              id="textarea"
              placeholder="Message"
              name="message"
            ></textarea>
            <button type="submit" class="submit">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <section class="footer">
      <footer>
        <div class="foot">
          <div class="first">
            <div class="names">
              <p class="name2">Akshat Pratap Singh</p>
            </div>
            <div class="follow">
              <span>FOLLOW ME ON</span><br /><br /><br />
              &nbsp;<span
                ><a href="https://www.facebook.com/profile.php?id=100057693212935"><i class="fa-brands fa-facebook white fa-1x"></i>&nbsp;&nbsp;facebook</span
              ></a><br /><br /><br />
              &nbsp;<span
                ><a href="https://github.com/Akshat264"
                  ><i class="fa-brands fa-github white fa-1x"></i>
                &nbsp;&nbsp;github</span
              ></a><br /><br /><br />
              &nbsp;<span
                ><a
                  href="https://www.linkedin.com/in/akshat-pratap-singh-7845bb25b/"
                  ><i class="fa-brands fa-linkedin white fa-1x"></i>&nbsp;&nbsp;linkedin</span
              ></a>
            </div>
            <div class="cp">
              <span>COMPETATIVE PROGRAMMING</span><br />
              <span
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                  href="https://www.codechef.com/users/akshat264"
                  ><img src="hqdefault-removebg-preview.png" width="50%" /></a
              ></span>
              <br />
              <span
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                  href="https://codeforces.com/profile/akshat264"
                  ><img
                    src="download-removebg-preview (1).png"
                    width="50%" /></a
              ></span>
            </div>
          </div>
        </div>
        <div class="ends"><p class="end">&#169; 2023, Portfolio.in, All rights reserved | Made by: Akshat Pratap Singh</p></div>
      </footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper", {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: "true",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    <script>
      const submit = document.querySelector(".submit");
      const validateform = function () {
        // let value = true;
        const name = document.querySelector(".fullname");
        const email = document.querySelector(".email");
        const message = document.querySelector(".message");
        const empty = document.querySelector(".empty");
        const empty2 = document.querySelector(".empty2");
        const numbers = document.querySelector(".numbers");
        let namecheck = /^[a-zA-Z. ]{3,30}$/;
        let emailcheck =
          /^[A-Za-z_0-9]{3,}[@][A-Za-z]{3,}[.]{1}[A-Za-z.]{2,10}$/;
        if (name.value == "") {
          empty.innerHTML = "*this field is required";
          return false;
        } else {
          empty.innerHTML = "";
        }
        if (email.value == "") {
          empty2.innerHTML = "*this field is required";
          return false;
        } else {
          empty2.innerHTML = "";
        }
        if (namecheck.test(name.value)) {
          empty.innerHTML = "";
        } else {
          empty.innerHTML = "*Invalid name";
          return false;
        }
        if (emailcheck.test(email.value)) {
          empty2.innerHTML = "";
        } else {
          empty2.innerHTML = "*Invalid email";
          return false;
        }
      };
    </script>
    <script>
      const popup = document.querySelector(".confirmation");
      const cross = document.querySelector(".fa-solid");
      cross.addEventListener("mouseover", function () {
        cross.style.cursor = "pointer";
      });
      cross.addEventListener("click", function () {
        popup.style.display = "none";
      });
    </script>
  </body>
</html>
